<div class="input-card">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle> Enter at least three notes below: </mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="noteForm" (ngSubmit)="onSubmit(noteForm)">
      <div class="input-group">
        <mat-form-field
          *ngFor="let note of getControls(); let i = index"
          class="note-form-field"
          formArrayName="notes"
          appearance="fill"
        >
          <input matInput [formControlName]="i" id="notes" />
        </mat-form-field>
      </div>
      <div class="row">
        <div class="column btn-group">
          <button class="btn primary" type="button" (click)="onAddNote()">
            Add Note
          </button>
          <button class="btn secondary" type="button" (click)="onRemoveNote()">
            Remove Note
          </button>
          <button
            class="btn primary"
            type="submit"
            [disabled]="!noteForm.valid"
          >
            Submit Chord
          </button>
          <button class="btn secondary" type="button" (click)="onResetForm()">
            Reset
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
