.home-page {
  margin-top: 5rem;
}

.jumbotron {
  height: 35rem;
  background-image: url("src/assets/images/concert.jpg");
  background-size: cover;
  color: white;
}

.thumbnails {
  display: flex;
  margin-left: 5rem;
}

.img-thumbnail {
  height: 15rem;
  width: 15rem;
  border: none;
  border-radius: 15%;
  margin:2rem;
  z-index: 1;
  /* background-color: black; */
  /* opacity: 20%; */
  position: relative;
}

.img-thumbnail-2 {
  background-image: url("../../assets/images/horns.jpg");
  background-size: cover;
}

.img-thumbnail-3 {
  background-image: url("../../assets/images/sunglasses.jpg");
  background-size: cover;
}

.img-thumbnail-4 {
  background-image: url("../../assets/images/hands.jpg");
  background-size: cover;
}

.img-thumbnail-1 {
  background-image: url("../../assets/images/guitar2.jpg");
  background-size: cover;
}

.img-thumbnail:hover {
  transform: translateY(-0.35rem);
  opacity: 70%;
  box-shadow: 0px 16px 24px 2px rgba(0,0,0,0.14) , 0px 6px 30px 5px rgba(0,0,0,0.12) , 0px 8px 10px -7px rgba(0,0,0,0.2);
  cursor: pointer;
}

.thumbnail-text {
  position: absolute;
  color: white;
  font-size: larger;
  margin: 2rem;

}

.signup-btn {
  color: white;
  background-color: black;
}

.home-container{
  margin-top: 5rem;
  background-color: black;
  height: 25rem;
}

.home-section-1 {
  padding-top: 10rem;
}

.home-section-2 {
  background-color: black;
  opacity: 1;
  height: 37rem;
  padding: 3rem;
}

.testimonials {
  position: relative;
  padding: 0;
}

.testimonial-heading {
  margin-left: 0;
}

.testimonials.card {
    background-color: rgba(white, 0.8);
    padding: 2rem 1.25rem;
    border-radius: 0.625rem;
    height: auto;
    text-align: center;
}

.testimonials.card i {
  font-size: 1.5rem;
}


 .testimonials-name {
    margin: 1rem 0;
    text-align: center;
    font-weight: 500;
    color: darkgray;
}

 .testimonials_name h3 {
    padding-top: 0.8rem;
    text-transform: capitalize;
  }

  .testimonails_name p {
    padding-bottom: 2rem;
    text-transform: capitalize;
  }
